.navs{
    padding: 40px;
    background-color: aqua;
}
.title{
    background-color: black;
    color: white;
}
.contacts{
    background: black;
}
#list2{
    color: white;
    list-style-type: none;
}
.nav2{

}
.nav3{
    list-style-type: none;
    padding: 20px;
    background: black;

}
.bottomnavs{
    background-color: aqua;
    background: aqua;
    padding: 40px;
    text-align: center;
    align-content: center;
    alignment: center;
    text-decoration-color: aqua;
}
.images{
    padding: 40px;
}
.fom{
    float: none;
    padding: 15px;
}